<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ag3.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ag3.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @ag3.author %>
</p>

<%= link_to 'Edit', edit_ag3_path(@ag3) %> |
<%= link_to 'Back', ag3s_path %>
