<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ag2.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ag2.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @ag2.author %>
</p>

<%= link_to 'Edit', edit_ag2_path(@ag2) %> |
<%= link_to 'Back', ag2s_path %>
