<p id="notice"><%= notice %></p>




<p>
  <strong>Name:</strong>
  <%= @ag2.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ag2.title %>
</p>

<p>
  <strong>Operative clauses:</strong>
  <% content = @ag2.content %>
  <% dictionary = @ag2.definitions.scan(/<dt>(.+)<\/dt>/) %>
  <%# words = ["dictionary", "completion", "vendor"] %>
  <% content = content.gsub(/(#{dictionary.join("|")})/i, "<a href=\"##{'\1'}\">#{'\1'}</a>") %>
  <% content = content.gsub(/dictionary/i, "<a href='#dictionary'>dictionary</a>") %>

  <%= content.html_safe %>

</p>

<p>
  <strong>Definitions:</strong>
  <% definitions = @ag2.definitions %>
  <% definitions = definitions.gsub(/<dt>(.+)<\/dt>/i, "<dt id=\"#{'\1'}\">#{'\1'}</dt>")%>
  <%= definitions.html_safe %>

</p>


<p>
  <strong>Author:</strong>
  <%= @ag2.author %>
</p>

<%= link_to 'Edit', edit_ag2_path(@ag2) %> |
<%= link_to 'Back', ag2s_path %>
